---
layout: page
title: Tags
permalink: /tags/
---

<section class="tags-minimal">
  <div class="tags-header">
    <h1 class="page-heading">Tags</h1>
    <p class="page-subheading">Browse posts by topic.</p>
  </div>

  <div class="tag-cloud">
    {% for tag in site.tags %}
    <a href="#{{ tag | first | slugize }}" class="tag-pill">
      #{{ tag | first }}
      <span class="tag-count">{{ tag | last | size }}</span>
    </a>
    {% endfor %}
  </div>

  <div class="tag-list">
    {% for tag in site.tags %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}

    <div class="tag-group" id="{{ tag_name | slugize }}">
      <h3 class="tag-name">#{{ tag_name }}</h3>

      <ul class="tag-posts">
        {% for post in site.tags[tag_name] %}
        <li class="tag-item">
          <a href="{{ site.url }}{{ post.url }}" class="tag-link">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</section>