<h1>Certifications</h1>

<div class="education-item">
  <div class="timeline">Current</div>
  <div class="degree">Certified Information Security Manager (CISM)</div>
  <div class="institution">ISACA</div>
</div>

<div class="education-item">
  <div class="timeline">Current</div>
  <div class="degree">Certificate of Cloud Security Knowledge v.4 (CCSK)</div>
  <div class="institution">Cloud Security Alliance</div>
</div>

<div class="education-item">
  <div class="timeline">Current</div>
  <div class="degree">Certified Ethical Hacker (CEH)</div>
  <div class="institution">EC-Council</div>
</div>

<div class="education-item">
  <div class="timeline">Current</div>
  <div class="degree">Microsoft Certified Solution Associate</div>
  <div class="institution">Microsoft</div>
</div>

<div class="education-item">
  <div class="timeline">Current</div>
  <div class="degree">Microsoft Certified: Azure Fundamentals</div>
  <div class="institution">Microsoft</div>
</div>

<h1>Honors & Awards</h1>

<div class="education-item">
  <div class="degree">SAP Security Researchers Acknowledgment</div>
</div>

<div class="education-item">
  <div class="degree">SquidooHQ Security Researchers Acknowledgment</div>
</div> 