<h1>Education</h1>

<div class="education-item">
  <div class="timeline">2013 - 2015</div>
  <div class="degree">Bachelor of Science (BSc) in System Administration</div>
  <div class="institution">Cyryx College</div>
</div>

<div class="education-item">
  <div class="timeline">2007 - 2010</div>
  <div class="degree">Bachelor of Science (BSc) in Commerce & Computer Science</div>
  <div class="institution">Osmania University</div>
</div>

<div class="education-item">
  <div class="timeline">2006 - 2007</div>
  <div class="degree">A' Level in Civics, Economics, English, Accounting</div>
  <div class="institution">Shadan Junior College</div>
</div>
