---
layout: default
---
<div class="resume-container">
    <div class="row">
        <div class="col l12">
            <a href="#" onclick="window.print(); return false;" class="download-btn">
                <i class="fa fa-download"></i> Download Resume
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col l7">
            <div class="row">
                <div class="col resume-section">
                    {% include sections/about.html %}        
                </div>
            </div>
            
            <div class="row">
                <div class="col resume-section">
                    {% include sections/experience.html %}
                </div>
            </div>
            
            <div class="row">
                <div class="col resume-section">
                    {% include sections/projects.html %}
                </div>
            </div>
        </div>

        <div class="col l4 offset-l1">
            <div class="row">
                <div class="col resume-section">
                    {% include sections/skills.html %}    
                </div>
            </div>
            <div class="row">
                <div class="col resume-section">
                    {% include sections/education.html %}    
                </div>
            </div>
            <div class="row">
                <div class="col resume-section">
                    {% include sections/certifications.html %}    
                </div>
            </div>
            <div class="row">
                <div class="col resume-section">
                    {% include sections/contact.html %}    
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .resume-container {
        min-height: calc(100vh - 250px);
        position: relative;
        padding-bottom: 50px;
    }
    
    footer {
        position: relative;
        bottom: 0;
        width: 100%;
        margin-top: 50px;
    }
    
    @media print {
        body {
            background-color: white !important;
            color: black !important;
        }
        
        .sidebar, .navbar, footer, .download-btn {
            display: none !important;
        }
        
        .resume-container {
            width: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
        }
        
        .col.l7, .col.l4.offset-l1 {
            width: 100% !important;
            margin-left: 0 !important;
        }
        
        h1 {
            font-size: 18pt !important;
            margin-top: 20pt !important;
        }
        
        a {
            text-decoration: none !important;
            color: black !important;
        }
        
        .skill-bar {
            border: 1px solid #ddd !important;
        }
        
        .skill-level {
            background-color: #888 !important;
        }
        
        .experience-item, .education-item, .project-item {
            border-left-color: #888 !important;
            page-break-inside: avoid;
        }
    }
</style>